$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


.footer{
  background-color: #000;
}

.global-footer{
  display: flex;
  justify-content: center;
}

.footer-copyright{
  display: flex;
  justify-content: center;
}

.download-app{
  display: flex;
  justify-content: center;
}


.download-app{
  padding-top: 30px;
  img{
    height: 40px;
    float: left;
  }
  p{
    float: left;
    line-height: 40px;
    color: #fff;
    padding-left: 10px;
  }
}

.footer-info{
  margin-left: 2em;
  color: #fff;
  font-size: 0.9em;
  a:link { color: #fff; text-decoration: none;}
  a:visited { color: #fff;}
  a:hover { color: #f0f0f0; text-decoration: underline;}
  a:active { color: #fff; }
  h2{
    font-weight: bold;
    margin-top: 30px;
    font-size: 1.2em;
  }
  ul{
    margin-top: 10px;
  }
  li{
    margin-top: 5px;
  }
}

.footer-sell-btn{
  a:link { color: #fff; text-decoration: none;}
  a:visited { color: #fff;}
  a:hover { color: #fff;}
  a:active { color: #fff; }
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2em;
  text-align: center;
  background: #EA352C;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  line-height: 30px;
  .sell{
    font-size: 0.4em;
    padding-top:30px;
  }
  @include tab {
    height: 100px;
    width: 100px;
    bottom: -20px;
    right: -20px;
    font-size: 1.1em;
    line-height: 20px;
    .sell{
      font-size: 0.8em;
    }
  }
}
